Trigonomtric/Trigonomtric/Trigonomtric.vcxproj.user
Trigonomtric/Trigonomtric/Trigonomtric.vcxproj.filters
Trigonomtric/Trigonomtric/Trigonomtric.vcxproj
Trigonomtric/.vs/Trigonomtric/v16/Browse.VC.opendb
Trigonomtric/.vs/Trigonomtric/v16/Browse.VC.db
Trigonomtric/Trigonomtric.sln
