Trigonomtric/Trigonomtric/Trigonomtric.vcxproj.user
Trigonomtric/Trigonomtric/Trigonomtric.vcxproj.filters
Trigonomtric/Trigonomtric/Trigonomtric.vcxproj
Trigonomtric/.vs/Trigonomtric/v16/Browse.VC.opendb
Trigonomtric/.vs/Trigonomtric/v16/Browse.VC.db
Trigonomtric/Trigonomtric.sln
Trigonomtric/Trigonomtric/Debug/Trigonomtric.tlog/link.command.1.tlog
Trigonomtric/Trigonomtric/Debug/Trigonomtric.tlog/CL.read.1.tlog
Trigonomtric/Trigonomtric/Debug/Scene.obj
Trigonomtric/Trigonomtric/Debug/vc142.idb
Trigonomtric/Trigonomtric/Debug/Trigonomtric.tlog/link.read.1.tlog
Trigonomtric/Trigonomtric/Debug/Trigonomtric.tlog/Trigonomtric.lastbuildstate
Trigonomtric/Trigonomtric/Debug/Trigonomtric.log
Trigonomtric/Trigonomtric/Debug/Keyboard.obj
Trigonomtric/Debug/Trigonomtric.pdb
Trigonomtric/Debug/Trigonomtric.ilk
Trigonomtric/Debug/Trigonomtric.exe
Trigonomtric/.vs/Trigonomtric/v16/ipch/AutoPCH/9ae8df1c0d49ba59/SCENE.ipch
Trigonomtric/.vs/Trigonomtric/v16/ipch/AutoPCH/7efff0558bd65888/SHAPE.ipch
Trigonomtric/Trigonomtric/Debug/vc142.pdb
Trigonomtric/Trigonomtric/Debug/Trigonomtric.tlog/link.write.1.tlog
Trigonomtric/Trigonomtric/Debug/Trigonomtric.tlog/CL.write.1.tlog
Trigonomtric/Trigonomtric/Debug/Shape.obj
Trigonomtric/.vs/Trigonomtric/v16/.suo
Trigonomtric/Trigonomtric/Debug/main.obj
Trigonomtric/Trigonomtric/Debug/Trigonomtric.tlog/CL.command.1.tlog
Trigonomtric/.vs/Trigonomtric/v16/ipch/AutoPCH/ba569a01fbc3d61a/SCENE.ipch
